.tbody {
  padding: 0px 15px 20px 15px;
  /* padding-right: 0px; */
  background-color: #03113b;
}
.header {
  height: 190px;
  margin-bottom: 20px;
  background-image: url("../images/head.png");
  position: relative;
}
.head_contil {
  width: 100%;
  display: flex;
  height: 90px;
  position: absolute;
  bottom: 0;
  justify-content: space-between;
  align-items: center;
}
.nav {
  width: 940px;
  display: flex;
  justify-content: space-evenly;
}
.nav li {
  font-size: 24px;
  color: #87d9ff;
}
.nav li:hover {
  cursor: pointer;
}
.active {
  position: relative;
}
.active::after {
  display: inline-block;
  content: "";
  width: 80px;
  height: 2px;
  background-color: #fff;
  position: absolute;
  top: 40px;
  left: 30px;
}
.section {
  height: 940px;
}
.section_top {
  display: flex;
}
.section_top_left {
  width: 450px;
  margin-right: 20px;
}
.RegionalMap {
  background-image: url("../images/RegionalMap.png");
  padding: 20px 20px 0 20px;
}
.ExcellentRateTeachers {
  padding-top: 20px;
  margin-top: 110px;
  height: 190px;
  display: flex;
  justify-content: space-evenly;
}

.school-number-nav {
  width: 100%;
  display: flex;
  /* justify-content: space-evenly; */
}
.school-number-nav li {
  height: 165px;
  font-size: 18px;
  color: #87d9ff;
}
.school-active {
  position: relative;
}
/* 注释 */
.notes {
  font-size: 14px;
  color: rgb(84, 102, 155);
  text-align: right;
  margin-top: 12px;
}

/* 学校成绩分析 */
.SchoolPerformanceAnalysis {
  /* padding: 20px 20px 20px 20px; */
  width: 1410px;
}

.SchoolPerformanceAnalysis > ul {
  justify-content: space-between;
  display: flex;
  flex-wrap: wrap;
}
.SchoolPerformanceAnalysis > ul > li {
  width: 650px;
  height: 410px;
  background-image: url("../images/SchoolPerformanceAnalysis.png");
  background-repeat: no-repeat;
  background-size: 100% 450px;
  padding: 20px;
}
.SchoolPerformanceAnalysis > ul > li:nth-child(2){
  height: 480px;
  background-size: 100% 520px;
  background-color: #020c29;
}
.SchoolPerformanceAnalysis > ul > li:nth-child(3){
  margin-top: -47px;
}
.SchoolPerformanceAnalysis > ul > li:nth-child(4){
  height: 335px;
}

.legend {
  width: 228px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.RegionalStudents {
  width: 450px;
  background-image: url("../images/RegionalStudents.png");
}
.PieChart {
  display: flex;
  justify-content: space-evenly;
}

.RegionalResources {
  background-image: url("../images/footer.png");
  margin-top: 20px;
  padding: 20px 20px 20px 20px;
}

.RegionalResources-head {
  margin-top: 20px;
  height: 60px;
  display: flex;
  justify-content: space-between;
  border: 1px solid #16285f;
  background-color: #0a1942;
  overflow: hidden;
}
.RegionalResources-head ul {
  display: flex;
  align-items: center;
  height: 60px;
  justify-content: space-around;
  width: 100%;
}

.RegionalResources-head ul li {
  width: 150px;
  display: flex;
  justify-content: center;
  position: relative;
}
.RegionalResources-head-right ul li::after {
  content: "";
  width: 2px;
  height: 40px;
  background-image: url("../images/border-icon.png");
  position: absolute;
  top: 5px;
  left: 185px;
}

.RegionalResources-bottom {
  margin-top: 20px;
}
.RegionalResources-select {
  width: 123px;
  height: 28px;
  border: 1px solid #233b83;
  background-color: #102153;
  font-size: 14px;
  color: #87d9ff;
}

.RegionalTeacher-select {
  width: 138px;
  height: 28px;
  border: 1px solid #233b83;
  background-color: #102153;
  font-size: 14px;
  color: #87d9ff;
  top: 0;
  position: absolute;
  left: 0px;
}
.TotalResources {
  width: 258px;
  height: 88px;
  background-color: #0a1942;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* 1920 缩放 */
@media screen and (min-width: 1920px) {
}

.school-nav-p {
  font-size: 14px;
  font-size: 14px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

/* 三种字体 */
.sm-blue {
  font-size: 12px;
  color: #00c6ff;
  margin-right: 20px;
}
.sm-green {
  font-size: 12px;
  color: #60ff00;
  margin-right: 20px;
}
.sm-orgin {
  font-size: 12px;
  color: #ffa400;
  margin-right: 20px;
}
.public-span {
  font-size: 20px;
  color: #87d9ff;
  position: relative;
}
.public-span-lg {
  text-align: center;
  position: relative;
  width: 100%;
}
.public-span-sm {
  text-align: center;
  font-size: 18px;
  color: #87d9ff;
  margin-top: 60px;
}
.fz-14-blue {
  font-size: 14px;
  color: #87d9ff;
}
.fz-14-white {
  font-size: 14px;
  color: #fff;
}

/* 修改layui默认下三角的样式 */
.layui-icon-triangle-d {
  color: #00c6ff !important;
  cursor: pointer;
}
.NewLegend {
  margin-top: 15px;
  display: flex;
  justify-content: flex-end;
}
.PieChart .sm-green,
.PieChart .sm-orgin {
  margin-right: 5px !important;
}
.PieChart {
  display: flex;
}
.page {
  width: 215px;
  height: 25px;
}

/* 列表选择按钮 */
.seclect-btn {
  display: inline-block;
  width: 10px;
  height: 10px;
  border: 1px solid #fff;
  cursor: pointer;
}
/* 推荐按钮 */
.Recommend {
  width: 138px;
  height: 28px;
  border: 2px solid #7cc8ed;
  background-color: #020c29;
  color: #87d9ff;
  font-size: 14px;
  border-radius: 15px;
  cursor: pointer;
}
/* 雷达图面板 */
.circlePanel {
  display: flex;
  flex-flow: column;
}
.circlePanel li {
  height: 60px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.circlePanel li p:nth-child(1) {
  color: #87d9ff;
  font-size: 14px;
}
.circlePanel li p:nth-child(2) {
  color: #fff;
  font-size: 14px;
  margin-top: 10px;
}
/*  */
.NewCirclePanel {
  display: flex;
  flex-flow: column;
  width: 85px;
  height: 150px;
  font-size: 14px;
}
.NewCirclePanel li {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5px;
}
/*  */
.ListSubjects {
  width: 155px;
  height: 390px;
  padding: 20px;
  border: 2px solid #87d9ff;
  background-color: #020c29;
  position: absolute;
  right: 0px;
  border-radius: 5px;
  top: 50px;
  right: -126px;
}
.ListSubjects div {
  height: 390px;
  background-color: #09173e;
}
.ListSubjects ul {
  background-color: #09173e;
  display: flex;
  flex-wrap: wrap;
  text-align: center;
}
.ListSubjects ul li {
  border: 1px solid #213160;
  width: 75px;
  height: 29px;
  text-align: center;
  color: #7cc8ed;
  font-size: 12px;
  line-height: 31px;
}
.ListSubjects ul li:nth-child(1) {
  width: 153px;
  height: 28px;
}
.NewClassList {
  margin-top: 15px;
}
.NewClassList ul {
  display: flex;
  flex-wrap: wrap;
}
.NewClassList ul li {
  width: 78px;
  height: 26.5px;
  border: 1px solid #213160;
  text-align: center;
  font-size: 14px;
  color: #7cc8ed;
  line-height: 30px;
  /* background-color: #fff; */
}

.PleaseCheck {
  color: #fff;
  cursor: pointer;
}
.PleaseCheck:hover {
  color: #7cc8ed;
}
.teacherBK {
  height: 200px;
  padding: 20px;
  background-color: #020c29;
}
.data_list {
  margin-top: 20px;
  font-size: 14px;
  color: #6073aa;
  background-color: #102153;
  height: 30px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
