.tbody{
    padding: 0px 15px 20px 15px;
    /* padding-right: 0px; */
    background-color: #03113b;
}
.header{
    height: 190px;
    margin-bottom: 20px;
    background-image: url("../images/head.png");
    position: relative;
}
.head_contil{
    width: 100%;
    display: flex;
    height: 90px;
    position: absolute;
    bottom: 0;
    justify-content: space-between;
    align-items: center;
}
.nav{
    width: 940px;
    display: flex;
    justify-content: space-evenly;
}
.nav li{
    font-size: 24px;
    color: #87d9ff;
}
.section{
    
}
.section_top{
    display:flex;
}
.section_top_left{
    width: 450px;
    margin-right: 20px;
}
.RegionalMap{
    background-image: url("../images/RegionalMap.png");
    height: 350px;
}
.RegionalSchools{
    background-image: url("../images/RegionalSchools.png");
    margin-top: 20px;
    height: 590px;
}

.RegionalTeachers{
    padding: 0 20px 20px 20px;
    background-image: url("../images/RegionalTeachers.png");
    width: 910px;
    margin-right: 20px;
}
.legend{
    display:flex;
    justify-content: space-evenly;
}
.RegionalStudents{
    width: 450px;
    background-image: url("../images/RegionalStudents.png");
}
.PieChart{
    display: flex;
    justify-content: space-evenly;
}

.RegionalResources{
    background-image: url("../images/footer.png");
    margin-top: 20px;
    height: 530px;
}

/* 1920 缩放 */
@media screen and (min-width:1920px){
}