<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>智慧教育教学应急管理中心平台</title>
</head>
<!-- 格式化浏览器默认样式 -->
<link rel="stylesheet" href="css/init.css">
<!-- layui CSS -->
<link rel="stylesheet" href="layui/css/layui.css">
<!-- 轮播图 -->
<link rel="stylesheet" href="css/swiper_3.4.2_css.css">
<!-- 首页css样式 -->
<link rel="stylesheet" href="css/index.css">
<link rel="stylesheet" href="css/public.css">
<link rel="stylesheet" href="css/page.css">

<body>
    <!-- tbody dom内容主体 -->
    <div class="tbody" id="app">
        <div class="header">
            <div class="head_contil">
                <p style="font-size: 14px;color: #54669b;">欢迎您登录山东省教育资源数据管理平台!</br>{{Tdate}}</p>
                <ul class="nav">
                    <li class="active" onclick="tigert('main.html')">区域管理统计</li>
                    <li onclick="tigert('schools.html')">学校管理统计</li>
                    <li onclick="tigert('grade.html')">年级管理统计</li>
                    <li onclick="tigert('class.html')">班级管理统计</li>
                </ul>
                <div style="display: flex;align-items: center;">
                    <span style="width: 30px;height: 30px;overflow: hidden;border-radius: 50%;"><img
                            src="images/HeadPortrait.jpeg" alt="" style="width: 100%;"></span>
                    <!-- 选择框 -->
                    <p style="color: #66a8cf;font-size: 16px;">山东省临沂教育局山东省临沂教育局</p>
                    <i class="layui-icon layui-icon-triangle-d"></i>
                </div>
            </div>
        </div>
        <div class="section">
            <div class="section_top">
                <div class="section_top_left">
                    <!-- 区域地图 -->
                    <div class="RegionalMap public-span">
                        <p class="public-span-lg">区域地图</p>

                    </div>
                    <!-- 区域学校 -->
                    <div class="RegionalSchools public-span">
                        <p class="public-span-lg">区域学校</p>
                        <!-- 区域学校四级联动 -->
                        <p >
                            <!-- 省 -->
                            <select class="RegionalResources-select" style="width: 78px;">
                                <option v-for="(item,i) in provinceList.area">{{item}}</option>
                            </select>
                            <!-- 市 -->
                            <select  class="RegionalResources-select" style="width: 78px;">
                                <option v-for="(item,i) in provinceList.Allcity">{{item.name}}</option>
                            </select>
                            <!-- 县 -->
                            <select class="RegionalResources-select" style="width: 78px;">
                                <option v-for="(item,i) in provinceList.cityList">{{item.name}}</option>
                            </select>
                            <!-- 学校 -->
                            <select  class="RegionalResources-select">
                                <option v-for="(item,i) in provinceList.school">{{item.name}}</option>
                            </select>
                        </p>
                        <p class="public-span-sm">区域学校数量</p>
                        <!-- 图例 -->
                        <div class="legend">
                            <span class="sm-blue"><span class="layui-badge-dot"></span>&nbsp;高中家数</span>
                            <span class="sm-green"><span class="layui-badge-dot layui-bg-green"></span>&nbsp;初中家数</span>
                            <span class="sm-orgin"><span
                                    class="layui-badge-dot layui-bg-orange"></span>&nbsp;小学家数</span>
                        </div>
                        <!-- 柱状图容器 -->
                        <div id="RegionalSchoolsDom" style="width: 405px;height: 165px;">
                            <!-- 柱状图 -->
                            <div id="RegionalSchoolsChart" style="width: 1000px;height: 140px;"></div>
                        </div>
                        <!--  -->
                        <section style="margin-top:20px">
                            <p class="public-span-sm" style="margin-top: 0px;">区域活跃值最高学校TOP10</p>
                            <div style="font-size:14px;color:#6073aa;background-color: #102153;
                        height: 30px;
                        display: flex;
                        justify-content: space-around;
                        align-items: center;margin-top: 10px;">
                                <span>学校名称</span>
                                <span>学校属性</span>
                                <span>活跃值</span>
                                <span>排名</span>
                            </div>
                            <div>
                                <ul style="background-color: #020c29;height: 135px;" id="SchoolsTop10">
                                    <li style="height: 30px;border-bottom: 1px solid #102153;display: flex;
                                justify-content: space-around;
                                align-items: center;font-size:14px;color:#87d9ff;"
                                        v-for="(item,index) in SchoolsTop10">
                                        <span>{{item.SchoolName}}</span>
                                        <span>{{item.SchoolAttribute}}</span>
                                        <span>{{item.ActiveValue}}</span>
                                        <span>{{item.Ranking}}</span>
                                    </li>
                                </ul>
                            </div>

                        </section>
                    </div>
                </div>
                <!-- 区域教师 -->
                <div class="RegionalTeachers public-span">
                    <p class="public-span-lg">区域教师</p>
                    <p class="public-span-sm">区域教师数量</p>
                    <!-- 图例 -->
                    <div class="legend">
                        <span class="sm-blue"><span class="layui-badge-dot"></span>&nbsp;高中教师</span>
                        <span class="sm-green"><span class="layui-badge-dot layui-bg-green"></span>&nbsp;初中教师</span>
                        <span class="sm-orgin"><span class="layui-badge-dot layui-bg-orange"></span>&nbsp;小学教师</span>
                    </div>

                    <!-- 区域教师数量-柱状图滚动条容器 -->
                    <div id="RegionalTeachersDom" style="height: 360px;width: 900px;margin-top: 5px;">
                        <!-- 柱状图容器 -->
                        <div id="RegionalTeachersChart" style="height: 340px;width: 1500px;"></div>
                    </div>

                    <p class="public-span-sm">区域日活跃老师总人数</p>
                    <div class="legend">
                        <span class="sm-blue"><span class="layui-badge-dot"></span>&nbsp;区域日活跃老师总人数</span>
                    </div>
                    <!-- 区域日活跃老师总人数-折线图滚动条容器 -->
                    <div id="RegionalTeachersLineDom" style="height: 340px;width: 900px;margin-top: 25px;">
                        <!-- 折线图容器 -->
                        <div id="RegionalTeachersLine" style="height: 330px;width: 1500px;"></div>
                    </div>
                </div>
                <!-- 区域学生 -->
                <div class="RegionalStudents public-span">
                    <p class="public-span-lg">区域学生</p>
                    <p class="public-span-sm">区域学生总人数</p>
                    <!-- 图例 -->
                    <div class="legend">
                        <span class="sm-blue"><span class="layui-badge-dot"></span>&nbsp;高中学生总人数</span>
                        <span class="sm-green"><span class="layui-badge-dot layui-bg-green"></span>&nbsp;初中学生总人数</span>
                        <span class="sm-orgin"><span class="layui-badge-dot layui-bg-orange"></span>&nbsp;小学学生总人数</span>
                    </div>

                    <!-- 区域学生总人数-柱状图滚动条容器 -->
                    <div id="RegionalStudentDom" style="height: 167px;width: 413px;margin-top: 5px;margin: 0 auto;">
                        <!-- 柱状图容器 -->
                        <div id="RegionalStudentChart" style="height: 160px;width: 1500px;"></div>
                    </div>

                    <!-- 饼图 -->
                    <div class="PieChart">
                        <div class="PieChart-left">
                            <p class="public-span-sm" style="margin-bottom: 10px;">区域年级学生总人数</p>
                            <!-- 图例 -->
                            <div class="legend">
                                <span class="sm-blue" style="margin-right: 0;"><span
                                        class="layui-badge-dot"></span>&nbsp;高中</span>&nbsp;
                                <span class="sm-green" style="margin-right: 0;"><span
                                        class="layui-badge-dot layui-bg-green"></span>&nbsp;七八九年级</span>&nbsp;
                                <span class="sm-orgin" style="margin-right: 0;"><span
                                        class="layui-badge-dot layui-bg-orange"></span>&nbsp;一至六年级</span>
                            </div>
                            <!-- 饼图 -->
                            <!-- 柱状图容器 -->
                            <div id="StudentPieChartChart-left" style="height: 125px;width: 198px;"></div>
                        </div>
                        <div class="PieChart-right">
                            <p class="public-span-sm" style="margin-bottom: 10px;">区域年级学生优秀人数</p>
                            <!-- 图例 -->
                            <div class="legend">
                                <span class="sm-blue" style="margin-right: 0;"><span
                                        class="layui-badge-dot"></span>&nbsp;高中</span>&nbsp;
                                <span class="sm-green" style="margin-right: 0;"><span
                                        class="layui-badge-dot layui-bg-green"></span>&nbsp;七八九年级</span>&nbsp;
                                <span class="sm-orgin" style="margin-right: 0;"><span
                                        class="layui-badge-dot layui-bg-orange"></span>&nbsp;一至六年级</span>
                            </div>
                            <!-- 饼图 -->
                            <!-- 柱状图容器 -->
                            <div id="StudentPieChartChart-right" style="height: 125px;width: 198px;"></div>
                        </div>
                    </div>
                    <!-- 星选示范课 -->
                    <section style="margin-top:20px;position: relative;">
                        <p class="public-span-sm" style="margin-top: 0px;">星选示范课</p>
                        <div style="font-size:14px;color:#6073aa;background-color: #102153;
                    height: 30px;
                    display: flex;
                    justify-content: space-around;
                    align-items: center;margin-top: 10px;">
                            <span>学校名称</span>
                            <span>学校属性</span>
                            <span>年级</span>
                            <span>学科</span>
                            <span>示范课名称</span>
                            <span>推荐星级</span>
                        </div>
                        <div>
                            <ul style="background-color: #020c29;height: 135px;">
                                <li style="height: 30px;border-bottom: 1px solid #102153;display: flex;
                            justify-content: space-around;
                            align-items: center;font-size:14px;color:#87d9ff;" v-for="(item,index) in StarClass">
                                    <span>{{item.SchoolName}}</span>
                                    <span>{{item.SchoolAttribute}}</span>
                                    <span>{{item.grade}}</span>
                                    <span>{{item.subject}}</span>
                                    <span>{{item.DemonstrationClass}}</span>
                                    <span style="display: inline-block;width: 77px;text-align: center;"><i v-for="(intem,index) in item.StartLevel" class="layui-icon layui-icon-rate-solid" style="color: yellow;"></i></span>
                                </li>
                            </ul>
                        </div>
                        <!-- vue分页 -->
                        <div id="page" class="page">
                            <pageination :total="model.total" :size="model.size" :page="model.page" :changge="pageFn" >
                                {{model.page}}
                            </pageination>
                        </div>

                    </section>
                </div>
            </div>
            <!-- 区域资源 -->
            <div class="RegionalResources public-span">
                <p class="public-span-lg">区域资源</p>
                <div class="RegionalResources-head">
                    <div class="TotalResources">
                        <div>
                            <p style="font-size: 18px;color: #87d9ff;">资源库资源总量</p>
                            <p style="font-size: 30px;color: #ffffff;margin-top: 10px;">6,620,308</p>
                        </div>
                    </div>
                    <div class="RegionalResources-head-right">
                        <ul>
                            <!-- 模板 -->
                            <li v-for="(item,index) in RegionalResources">
                                <div style="width: 100%;">
                                    <p style="font-size: 14px;font-size: 14px;
                                    display: flex;
                                    justify-content: space-around;
                                    align-items: center;">
                                        <span>
                                            <span :style="{'color':item.color}">{{item.name}}</span>
                                            <span class="fz-14-blue">总量</span>
                                        </span>
                                        <span class="fz-14-white">
                                            {{item.number}}
                                        </span>
                                    </p>
                                    <p style="margin-top: 15px;font-size: 14px;
                                    display: flex;
                                    justify-content: space-around;
                                    align-items: center;">
                                        <span class="fz-14-blue">近30日新增</span>
                                        <span class="fz-14-white">{{item.MonthlyAddition}}</span>
                                    </p>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <!-- 柱状图 -->
                <div class="RegionalResources-bottom">
                    <div style="display: flex;justify-content: space-between;">
                        <div>
                            <!-- 下拉选择框 -->
                            <p>
                                <select name="" id="" class="RegionalResources-select">
                                    <option value="">学段选择</option>
                                </select>
                                <select name="" id="" class="RegionalResources-select">
                                    <option value="">区域选择</option>
                                </select>
                            </p>
                        </div>
                        <div class="">
                            <!-- 图例 -->
                            <div class="legend">
                                <span class="sm-blue" style="margin-right: 20px;">
                                    <span class="layui-badge-dot" style="background-color: #00c6ff;"></span>
                                    &nbsp;课件
                                </span>
                                <span class="sm-blue" style="margin-right: 20px;">
                                    <span class="layui-badge-dot" style="background-color: #60ff00;"></span>
                                    &nbsp;教案
                                </span>
                                <span class="sm-blue" style="margin-right: 20px;">
                                    <span class="layui-badge-dot" style="background-color: #ffa400;"></span>
                                    &nbsp;学案
                                </span>
                                <span class="sm-blue" style="margin-right: 20px;">
                                    <span class="layui-badge-dot" style="background-color: #ff5353;"></span>
                                    &nbsp;试卷
                                </span>
                                <span class="sm-blue" style="margin-right: 20px;">
                                    <span class="layui-badge-dot" style="background-color: #ff7cd6;"></span>
                                    &nbsp;微课
                                </span>
                                <span class="sm-blue" style="margin-right: 20px;">
                                    <span class="layui-badge-dot" style="background-color: #9f95ff;"></span>
                                    &nbsp;素材
                                </span>
                                <span class="sm-blue" style="margin-right: 0;">
                                    <span class="layui-badge-dot" style="background-color: #72dcc9;"></span>
                                    &nbsp;题库
                                </span>
                            </div>
                        </div>
                    </div>
                    <!-- 柱状图容器 -->
                    <div id="RegionalResourcesChart" style="width: 100%;height: 295px;"></div>
                </div>
            </div>
        </div>
    </div>

    <!-- js脚本 -->
    <script src="js/public.js"></script>
    <!-- jquery函数库 -->
    <script src="js/jquery.min.js"></script>
    <!-- vue核心 -->
    <script src="js/vue.min.js"></script>
    <!-- vue分页 -->
    <script src="js/pageination.js"></script>
    <!-- axios -->
    <script src="js/axios.js"></script>
    <!-- layui -->
    <script src="layui/layui.js"></script>
    <!-- 滚动条 -->
    <script src="js/jquery.nicescroll.min.js"></script>
    <!-- 轮播图 -->
    <script src="js/swiper_3.4.2_js.js"></script>
    <!-- 百度数据可视化 -->
    <script src="js/echarts.min.js"></script>


    <!-- 区域页面 定义数据 请求数据 -->
    <script src="datajs/mainRequest.js"></script>
    <!-- 定义Echart option -->
    <script src="datajs/mainOption.js"></script>
    <!-- 首页js -->
    <script src="main.js"></script>

</body>

</html>